<?xml version="1.0" encoding="UTF-8"?>
<robot name="minilift" xmlns:xacro="http://ros.org/wiki/xacro">



<xacro:include filename="$(find minilift_description)/urdf/lfl.urdf.xacro" />
<xacro:lfl_base prefix="BMR001"/>


<!-- common stuff -->
<xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />



</robot>
